/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: rgb(231, 201, 242);
}

h1 {
  font-style: italic;
  color: rgb(247, 59, 235);
  font-family: "Lobster", cursive;
}

h1:hover {
  color: rgb(247, 59, 156);
  font-family: "Lobster", cursive;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.card-text {
  color: rgb(194, 66, 245);
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 26px;
  border-style: solid;
  border-color: pink;
}

.card-text:hover {
  color: rgb(247, 59, 156);
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 18px;
  border-style: solid;
  border-color: yellow;
}

#content {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: rgb(55, 65, 97);
  font-size: 26px;
  border-style: solid;
  border-color: pink;
}

#content:hover {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: rgb(139, 157, 176);
  font-size: 26px;
  border-style: solid;
  border-color: yellow;
}

#img:hover {
  opacity: 0.7;
  width: 120%;
}

#search {
  background-color: rgb(177, 147, 237);
  border: white dotted;
  color: white;
  padding: 10px 24px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
#search:hover {
  background-color: rgb(237, 213, 90);
  color: white;
  border-radius: 80%;
}

.nav-link {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 25px;
  text-decoration: underline;
  color: rgb(245, 91, 245);
}

.nav-link:hover {
  font-weight: bold;
  font-size: 26px;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Lobster", cursive;
  letter-spacing: 3px;
  font-size: 25px;
}

.navbar-brand:hover {
  font-weight: bold;
  font-family: "Lobster", cursive;
  letter-spacing: 5px;
  font-size: 20px;
}

.carouselExampleSlidesOnly:hover{
  width:120%
}